{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    {% include '/account/partials/_sidebar.html.twig' %}

    <div>
        <h1>Blog Symfony</h1>

        {% if app.user %}
            <p>Bonjour {{ app.user.prenom }},</p>
            <p>Quelle belle journée n'est-ce pas?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum hic labore nemo odio omnis optio. Dicta
                est eum itaque recusandae reprehenderit repudiandae sequi similique! Aut delectus deserunt eum eveniet
                hic nihil non placeat quos sed tempora. Cum molestiae quae ratione! Cumque debitis fugiat ipsum iste
                minus, reprehenderit voluptate? Ad, alias aliquam aspernatur assumenda, at autem culpa cum cumque
                deleniti dignissimos ea enim eum exercitationem fugit hic, illum ipsa iste iure iusto magnam molestiae
                molestias necessitatibus nemo nisi nobis odio perspiciatis provident qui quisquam repellendus similique
                tempora tempore veniam vero vitae voluptas voluptatibus. Culpa illo illum neque suscipit. Obcaecati
                officia, ullam?</p>
        {% endif %}


    </div>

{% endblock %}

